.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2{
        color: whitesmoke;
    }
    p{
        margin-left: 100px;
        margin-right: 100px;
        padding-bottom: 10px;
        color: whitesmoke;
    }
    iframe{
        padding-bottom: 20px;
    }
}